<main class="main">
  <div class="inner">
    <div class="card__wrapper">
      <% @prototypes.each do |prototype| %>
        <li>
          <%= render partial: "prototype", locals: { prototype: prototype } %>
        </li>
      <% end %>
    </div>
  </div>
</main>
